{
  "stage": 0,
  "loose": "all",
  "plugins": [
    "dev-expression"
  ],
  "blacklist": [
    "es7.classProperties"
  ],
  "optional": [
    "es3.memberExpressionLiterals",
    "es3.propertyLiterals"
  ]
}
